<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>


</head>

<body>



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About 'The Notorious'</h1>
                        <hr class="small">
                        <span class="subheading">Who is Conor McGregor?</span>
                    </div>
                </div>
            </div>
        </div>
	<style>
.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Conor McGregor born 14 July 1988 is an Irish professional mixed martial artist who is currently signed to the Ultimate Fighting Championship (UFC). He is the current UFC Lightweight Champion and former UFC Featherweight Champion. During his career, McGregor has competed as a featherweight, lightweight, and welterweight.</p>
                <p>In 2008, McGregor started his mixed martial arts (MMA) career and, in 2012, he won both the Cage Warriors Featherweight and Lightweight Championships, holding both titles concurrently before vacating them to sign with the UFC. In 2015, at UFC 194, McGregor defeated José Aldo for the featherweight championship via knockout after thirteen seconds in the first round. This was the fastest victory in UFC title fight history.Upon defeating Eddie Alvarez for the UFC Lightweight Championship, at UFC 205, McGregor became the first fighter in UFC's history to hold titles in two divisions simultaneously.He is known for being the biggest pay-per-view draw in MMA as well as his extravagant lifestyle and trash talking.</p>
                <p>On 17 February 2007, at the age of 18, McGregor made his mixed martial arts debut, in an amateur fight against Kieran Campbell for the Irish Ring of Truth promotion in Dublin. He was victorious via technical knockout (TKO) in the first round. Following the fight, he turned professional and was signed by the Irish Cage of Truth promotion. In 2008, McGregor began training at the Straight Blast Gym (SBG) in Dublin under John Kavanagh.</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Darren Mounsey 2016</p>
                </div>
            </div>
        </div>
    </footer>



</body>

</html>
